In [1]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import lightgbm as lgb
from sklearn.metrics import (
    r2_score,
    mean_squared_error,
    mean_absolute_error,
)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [85]:
import lightgbm as lgb 
import xgboost as xgb 
#import catboost as cbt 
import numpy as np 
import joblib 
import os

print(lgb.__version__)
print(xgb.__version__)
#print(cbt.__version__)

4.1.0
2.0.2

In [156]:
#load
with open('../data/train.pickle', 'rb') as f:
    train_data = pickle.load(f)

#load
with open('../data/dataset_for_ML.pickle', 'rb') as f:
    dataset = pickle.load(f)

#load
with open('../data/index_weights.pickle', 'rb') as f:
    raw_weights = pickle.load(f)

#load
with open('../data/real_index.pickle', 'rb') as f:
    index_list = pickle.load(f)
    
#load
with open('../saved_models.pkl', 'rb') as f:
    models = pickle.load(f)
    
revealed_target = pd.read_csv('../example_test_files/revealed_targets.csv')
test_data = pd.read_csv('../example_test_files/test.csv')

In [164]:
list(models.values())[0]

LGBMRegressor(metric='mean_absolute_error', n_estimators=30, n_jobs=-1,
              objective='regression', seed=123)

In [78]:
abs(train_data.query('date_id>=478')['target']).mean()

5.278163192052061

In [74]:
abs(revealed_target.dropna()['revealed_target'].values).mean()

5.391541739227757

In [146]:
model = models[(0,)]

#save model by joblib library
import joblib
joblib.dump(model, 'model1.pkl')

['model1.pkl']

In [153]:
test = test_data[features]

In [154]:
model.predict(test)

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [147]:
test_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_price,ask_price,ask_size,wap
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,0.999875,1.000050,9177.60,1.000000
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,21456.38,1.000127
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,41535.88,1.000054
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,1.000224,1.000399,15033.56,1.000341
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,1.000224,1.000399,25706.24,1.000301
...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999193,146071.08,0.999065
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.999017,120926.08,0.998941
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,46780.58,0.999289
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,122677.94,0.999291
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,283817.38,0.999242

In [98]:
np.array(test_0.iloc[0]).reshape(1,-1)

array([[ 0.00000000e+00,  4.78000000e+02,  0.00000000e+00,
         3.75345143e+06, -1.00000000e+00,  9.99875000e-01,
         1.15489754e+07,  9.99875000e-01,  9.99875000e-01,
         1.00005000e+00,  9.17760000e+03,  1.00000000e+00]])

In [148]:
model.feature_name_

['stock_id',
 'date_id',
 'seconds_in_bucket',
 'imbalance_size',
 'imbalance_buy_sell_flag',
 'reference_price',
 'matched_size',
 'bid_price',
 'bid_size',
 'ask_price',
 'ask_size',
 'wap']

In [115]:
test=test_data.query('date_id==478 and seconds_in_bucket==0')

In [133]:
np.array(data).reshape(1,-1)

array([[0, 478, 0, 3753451.43, -1, 0.999875, 11548975.43, 0.999875,
        0.999875, 1.00005, 9177.6, 1.0]], dtype=object)

In [143]:
model.feature_name_

['stock_id',
 'date_id',
 'seconds_in_bucket',
 'imbalance_size',
 'imbalance_buy_sell_flag',
 'reference_price',
 'matched_size',
 'bid_price',
 'bid_size',
 'ask_price',
 'ask_size',
 'wap']

In [144]:
test_0#.isna().sum()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_price,ask_price,ask_size,wap
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,0.999875,1.000050,9177.60,1.000000
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,21456.38,1.000127
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,41535.88,1.000054
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,1.000224,1.000399,15033.56,1.000341
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,1.000224,1.000399,25706.24,1.000301
...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999193,146071.08,0.999065
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.999017,120926.08,0.998941
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,46780.58,0.999289
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,122677.94,0.999291
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,283817.38,0.999242

In [136]:
test_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_price,ask_price,ask_size,wap
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,0.999875,1.000050,9177.60,1.000000
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,21456.38,1.000127
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,41535.88,1.000054
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,1.000224,1.000399,15033.56,1.000341
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,1.000224,1.000399,25706.24,1.000301
...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999193,146071.08,0.999065
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.999017,120926.08,0.998941
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,46780.58,0.999289
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,122677.94,0.999291
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,283817.38,0.999242

In [135]:
features = ['stock_id','date_id','seconds_in_bucket','imbalance_size','imbalance_buy_sell_flag','reference_price','matched_size','bid_price','bid_price','ask_price','ask_size','wap']


for id in range(0,200):
    model = models[(id,)]
    data = test.iloc[id][features]
    print(data)
    target = model.predict(np.array(data).reshape(1,-1))

stock_id                             0
date_id                            478
seconds_in_bucket                    0
imbalance_size              3753451.43
imbalance_buy_sell_flag             -1
reference_price               0.999875
matched_size               11548975.43
bid_price                     0.999875
bid_price                     0.999875
ask_price                      1.00005
ask_size                        9177.6
wap                                1.0
Name: 0, dtype: object

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [103]:
test_0.iloc[0].index
data = test.iloc[id][features]

Index(['stock_id', 'date_id', 'seconds_in_bucket', 'imbalance_size',
       'imbalance_buy_sell_flag', 'reference_price', 'matched_size',
       'bid_price', 'bid_price', 'ask_price', 'ask_size', 'wap'],
      dtype='object')

In [106]:
#target = model.predict(np.array(test_0.iloc[0]).reshape(1, -1))
data = test_data.iloc[id][features].iloc[0]
target = model.predict(np.array(data).reshape(1,-1))

IndexError: single positional indexer is out-of-bounds

In [155]:
dict = {0:(1,2), 1: (2,3)}
list(dict.values()

dict_values([(1, 2), (2, 3)])

In [37]:
train_data.columns

Index(['stock_id', 'date_id', 'seconds_in_bucket', 'imbalance_size',
       'imbalance_buy_sell_flag', 'reference_price', 'matched_size',
       'far_price', 'near_price', 'bid_price', 'bid_size', 'ask_price',
       'ask_size', 'wap', 'target', 'time_id', 'row_id'],
      dtype='object')

In [52]:
real_value = train_data.query('date_id>=478')['target']#.values

In [53]:
real_value#['target'].values

5204980   -5.429983
5204981   -1.869798
5204982   -0.090003
5204983   -7.609725
5204984   -3.290176
             ...
5237975    2.310276
5237976   -8.220077
5237977    1.169443
5237978   -1.540184
5237979   -6.530285
Name: target, Length: 33000, dtype: float64

In [55]:
train_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [49]:
features = ['stock_id','date_id','seconds_in_bucket','imbalance_size','imbalance_buy_sell_flag','reference_price','matched_size','bid_price','bid_price','ask_price','ask_size','wap']
test_0 = test_data.query('stock_id == 0')[features]
test_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_price,ask_price,ask_size,wap
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,0.999875,1.000050,9177.60,1.000000
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,21456.38,1.000127
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,1.000050,1.000224,41535.88,1.000054
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,1.000224,1.000399,15033.56,1.000341
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,1.000224,1.000399,25706.24,1.000301
...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999193,146071.08,0.999065
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.999017,120926.08,0.998941
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,46780.58,0.999289
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,122677.94,0.999291
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,0.999193,0.999368,283817.38,0.999242

In [50]:
pred_0 = models[(0,)][1].predict(test_0)

In [51]:
pred_0

array([0.99995204, 1.000118  , 1.00010174, 1.00032662, 1.00032662,
       1.00039733, 1.00047265, 1.00088386, 1.00088386, 1.00107706,
       1.00107706, 1.00087296, 1.00082139, 1.00107706, 1.00107706,
       1.00107706, 1.00071633, 1.00082139, 1.00085385, 1.00112883,
       1.00112883, 1.00112883, 1.00147849, 1.0015475 , 1.00139481,
       1.00118091, 1.00118091, 1.00088386, 1.00097432, 1.00105107,
       1.00090872, 1.00044784, 0.999972  , 0.99976833, 0.99995329,
       1.00011926, 1.00011926, 1.00044784, 1.00057515, 1.00057515,
       1.00074118, 1.00047265, 1.00047265, 1.00032662, 1.00032662,
       1.00032662, 1.00032662, 1.00032662, 1.00047265, 1.00090872,
       1.00057515, 1.00075792, 1.00075792, 1.00057515, 1.00075268,
       1.00009648, 1.00063317, 1.00036232, 1.00036232, 1.00046758,
       1.0004636 , 1.0004636 , 1.00036232, 1.0004636 , 1.0004636 ,
       1.0004636 , 1.00053877, 1.00048034, 1.0000392 , 0.99983311,
       0.99983437, 0.99991911, 1.00000835, 0.99991911, 0.99939364,
       0.99939364, 0.99928032, 0.99928032, 0.99928032, 0.99939219,
       0.99941014, 0.99896972, 0.99914788, 0.99962711, 1.00012923,
       0.99992921, 0.99982377, 0.99987409, 0.9994127 , 0.9994127 ,
       0.99913939, 0.99913939, 0.99929938, 0.99929938, 0.99929938,
       0.99931237, 0.99882193, 0.9988407 , 0.9987657 , 0.9987657 ,
       0.99851372, 0.99851372, 0.9987657 , 0.9987657 , 0.99851372,
       0.99851372, 0.9987657 , 0.9987657 , 0.9988407 , 0.9988407 ,
       0.99995204, 1.00020875, 1.00000286, 0.99997075, 0.99997075,
       0.99997075, 0.99997075, 1.00032155, 1.0004636 , 1.00032155,
       0.99953108, 0.99952066, 0.99964992, 0.99964992, 0.99938902,
       0.99952192, 0.99952192, 0.99952192, 0.99952192, 0.99952192,
       0.99939219, 0.99938327, 0.99938327, 0.99912316, 0.99912316,
       0.99896972, 0.99896972, 0.99896972, 0.99922043, 0.99913281,
       0.99844433, 0.99911467, 0.99911467, 0.99911467, 0.99911467,
       0.99896124, 0.99923667, 0.99896124, 0.99911467, 0.99913139,
       0.99915742, 0.99917048, 0.99915541, 0.99915541, 0.99901812,
       0.99917048, 0.9996033 , 0.99947358, 0.99950589, 0.99926638,
       0.99926638, 0.99917048, 0.99950589, 0.99950589, 0.99940136])

In [38]:
pred = pd.read_csv('../sample_submssion_lgbm_5.32.csv')
pred['0'].values

array([0.99995204, 0.99992297, 1.00031173, ..., 0.996147  , 0.99917709,
       1.00192595])

In [20]:
a = pd.Series(pred['0'].values)
a.tail(201)#.plot()

32799   -0.22387
32800    0.00000
32801    0.00000
32802    0.00000
32803    0.00000
          ...
32995    0.00000
32996    0.00000
32997    0.00000
32998    0.00000
32999    0.00000
Length: 201, dtype: float64

In [28]:
pred['0']

0        -1.430757
1       -10.737379
2        -1.018023
3        -0.456225
4         0.231893
           ...
32995     0.000000
32996     0.000000
32997     0.000000
32998     0.000000
32999     0.000000
Name: 0, Length: 33000, dtype: float64

In [29]:
len(real_value)

33000

In [59]:
real_value.values

array([-5.429983  , -1.8697977 , -0.09000301, ...,  1.1694431 ,
       -1.540184  , -6.530285  ])

In [60]:
abs(real_value.values).mean()

5.278163192052061

In [5]:
stock_19 = train_data.query('stock_id == 19')
stock_19

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
19,19,0,0,0.0,0,0.999387,2815450.75,NaN,NaN,0.999218,17775.00,1.001298,29567.92,1.000000,4.299879,0,0_0_19
210,19,0,10,0.0,0,1.000511,2815450.75,NaN,NaN,0.999330,37509.47,1.001748,3742.20,1.001529,-2.880096,1,0_10_19
401,19,0,20,0.0,0,0.999780,2815450.75,NaN,NaN,0.999443,35558.00,1.001748,3742.20,1.001529,13.220310,2,0_20_19
592,19,0,30,0.0,0,0.999780,2815450.75,NaN,NaN,0.999443,35558.00,1.001748,5524.20,1.001438,17.750263,3,0_30_19
783,19,0,40,0.0,0,0.999836,2815450.75,NaN,NaN,0.999555,35739.81,1.001748,1782.00,1.001644,10.989904,4,0_40_19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236999,19,480,500,0.0,0,0.997601,7249894.84,0.997601,0.997601,0.996875,7498.53,0.997652,65037.96,0.996955,4.689693,26450,480_500_19
5237199,19,480,510,0.0,0,0.997549,7249894.84,0.997549,0.997549,0.996875,9421.23,0.997652,65037.96,0.996973,6.300211,26451,480_510_19
5237399,19,480,520,0.0,0,0.997030,7307756.68,0.997030,0.997030,0.996408,3843.60,0.997134,1538.56,0.996927,8.510351,26452,480_520_19
5237599,19,480,530,0.0,0,0.996771,7307756.68,0.996771,0.996771,0.996408,1729.62,0.997030,46728.90,0.996430,8.829832,26453,480_530_19
5237799,19,480,540,0.0,0,0.997601,7249894.84,0.997601,0.997601,0.996875,19227.00,0.998067,19250.00,0.997471,10.869503,26454,480_540_19

In [399]:
stock_0 = train_data.query('stock_id == 0')
stock_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
191,0,0,10,1299772.70,1,1.000026,15261106.63,NaN,NaN,0.999812,13996.50,1.000026,23519.16,0.999892,0.389814,1,0_10_0
382,0,0,20,1299772.70,1,0.999919,15261106.63,NaN,NaN,0.999812,4665.50,0.999919,12131.60,0.999842,4.220009,2,0_20_0
573,0,0,30,1299772.70,1,1.000133,15261106.63,NaN,NaN,1.000026,55998.00,1.000133,46203.30,1.000085,5.450249,3,0_30_0
764,0,0,40,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000241,14655.95,1.000455,26610.45,1.000317,3.169775,4,0_40_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236980,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999017,53827.20,0.999193,146071.08,0.999065,3.999472,26450,480_500_0
5237180,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.998842,157865.40,0.999017,120926.08,0.998941,3.190041,26451,480_510_0
5237380,0,480,520,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,57596.67,0.999368,46780.58,0.999289,-0.169873,26452,480_520_0
5237580,0,480,530,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,156610.53,0.999368,122677.94,0.999291,3.110170,26453,480_530_0
5237780,0,480,540,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,110123.01,0.999368,283817.38,0.999242,0.760555,26454,480_540_0

In [187]:
stock_0.loc[:,'index'] = index_list

In [191]:
stock_0.loc[:,'wap_60'] = stock_0.wap.shift(-6)
#stock_0.loc[:,'index_60'] = stock_0.index.shift(-6)
#stock_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,index,wap_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,1.000000,1.000517
191,0,0,10,1299772.70,1,1.000026,15261106.63,NaN,NaN,0.999812,13996.50,1.000026,23519.16,0.999892,0.389814,1,0_10_0,1.000356,1.000421
382,0,0,20,1299772.70,1,0.999919,15261106.63,NaN,NaN,0.999812,4665.50,0.999919,12131.60,0.999842,4.220009,2,0_20_0,1.000525,1.000148
573,0,0,30,1299772.70,1,1.000133,15261106.63,NaN,NaN,1.000026,55998.00,1.000133,46203.30,1.000085,5.450249,3,0_30_0,1.000547,1.000426
764,0,0,40,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000241,14655.95,1.000455,26610.45,1.000317,3.169775,4,0_40_0,1.000635,1.000261
955,0,0,50,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000348,42012.00,1.000455,9897.22,1.000434,0.599623,5,0_50_0,1.000668,1.000042
1146,0,0,60,1218204.43,1,1.000562,15342674.90,NaN,NaN,1.000455,14005.50,1.000562,10085.04,1.000517,-0.200272,6,0_60_0,1.000815,0.999895
1337,0,0,70,1264494.89,1,1.000455,15352380.96,NaN,NaN,1.000348,37904.16,1.000455,17366.82,1.000421,2.410412,7,0_70_0,1.000843,0.999962
1528,0,0,80,1189832.86,1,1.000241,15427043.00,NaN,NaN,1.000133,9427.34,1.000241,61984.40,1.000148,-0.389814,8,0_80_0,1.000409,0.999826
1719,0,0,90,1189272.89,1,1.000562,15427602.97,NaN,NaN,1.000348,23340.00,1.000562,40433.54,1.000426,-4.339814,9,0_90_0,1.000345,0.999787

In [195]:
stock_0.loc[:,'index_60'] = stock_0.loc[:,'index'].shift(-6)
stock_0.head(10)

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,index,wap_60,index_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,1.000000,1.000517,1.000815
191,0,0,10,1299772.70,1,1.000026,15261106.63,NaN,NaN,0.999812,13996.50,1.000026,23519.16,0.999892,0.389814,1,0_10_0,1.000356,1.000421,1.000843
382,0,0,20,1299772.70,1,0.999919,15261106.63,NaN,NaN,0.999812,4665.50,0.999919,12131.60,0.999842,4.220009,2,0_20_0,1.000525,1.000148,1.000409
573,0,0,30,1299772.70,1,1.000133,15261106.63,NaN,NaN,1.000026,55998.00,1.000133,46203.30,1.000085,5.450249,3,0_30_0,1.000547,1.000426,1.000345
764,0,0,40,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000241,14655.95,1.000455,26610.45,1.000317,3.169775,4,0_40_0,1.000635,1.000261,1.000264
955,0,0,50,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000348,42012.00,1.000455,9897.22,1.000434,0.599623,5,0_50_0,1.000668,1.000042,1.000218
1146,0,0,60,1218204.43,1,1.000562,15342674.90,NaN,NaN,1.000455,14005.50,1.000562,10085.04,1.000517,-0.200272,6,0_60_0,1.000815,0.999895,1.000217
1337,0,0,70,1264494.89,1,1.000455,15352380.96,NaN,NaN,1.000348,37904.16,1.000455,17366.82,1.000421,2.410412,7,0_70_0,1.000843,0.999962,1.000147
1528,0,0,80,1189832.86,1,1.000241,15427043.00,NaN,NaN,1.000133,9427.34,1.000241,61984.40,1.000148,-0.389814,8,0_80_0,1.000409,0.999826,1.000129
1719,0,0,90,1189272.89,1,1.000562,15427602.97,NaN,NaN,1.000348,23340.00,1.000562,40433.54,1.000426,-4.339814,9,0_90_0,1.000345,0.999787,1.000142

In [198]:
pred = (stock_0['wap_60']/stock_0['wap'] - stock_0['index_60']/stock_0['index'])*10000

In [208]:
stock_0.loc[20628]

stock_id                             0
date_id                              1
seconds_in_bucket                  530
imbalance_size               914937.83
imbalance_buy_sell_flag              1
reference_price               0.999601
matched_size               13033955.66
far_price                     1.001105
near_price                    1.000138
bid_price                     0.999278
bid_size                     398369.16
ask_price                     0.999601
ask_size                       89764.3
wap                           0.999542
target                        2.820492
time_id                            108
row_id                         1_530_0
index                          1.00048
wap_60                        0.999389
index_60                      0.999663
Name: 20628, dtype: object

In [209]:
stock_0.target.iloc[104:111]

19864    3.960133
20055    4.630089
20246    5.780458
20437    6.799698
20628    2.820492
20819   -2.700090
21010   -6.359816
Name: target, dtype: float64

In [210]:
pred.iloc[104:111]

19864    12.047555
20055    10.807284
20246    10.238100
20437     9.091080
20628     6.635440
20819     5.692619
21010    -6.391686
dtype: float64

In [145]:
RANDOM_SEED = 2023

In [160]:
raw_weights[77]

0.004

In [170]:

data = train_data.query('date_id == 0 and seconds_in_bucket == 0')

In [171]:
index_list

[1.0]

In [168]:
np.array(raw_weights).sum()

1.0000000000000002

In [169]:
np.array(weights).sum()

0.9610000000000001

In [133]:
for i in range(200):
    if i not in train_data.query('date_id==0 and seconds_in_bucket==0').stock_id.values:
        print(i)

69
78
79
102
135
150
153
156
199

In [130]:
for i, id in enumerate(train_data.query('date_id==0 and seconds_in_bucket==0').stock_id.values):
    print(i, id)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 25
26 26
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 34
35 35
36 36
37 37
38 38
39 39
40 40
41 41
42 42
43 43
44 44
45 45
46 46
47 47
48 48
49 49
50 50
51 51
52 52
53 53
54 54
55 55
56 56
57 57
58 58
59 59
60 60
61 61
62 62
63 63
64 64
65 65
66 66
67 67
68 68
69 70
70 71
71 72
72 73
73 74
74 75
75 76
76 77
77 80
78 81
79 82
80 83
81 84
82 85
83 86
84 87
85 88
86 89
87 90
88 91
89 92
90 93
91 94
92 95
93 96
94 97
95 98
96 99
97 100
98 101
99 103
100 104
101 105
102 106
103 107
104 108
105 109
106 110
107 111
108 112
109 113
110 114
111 115
112 116
113 117
114 118
115 119
116 120
117 121
118 122
119 123
120 124
121 125
122 126
123 127
124 128
125 129
126 130
127 131
128 132
129 133
130 134
131 136
132 137
133 138
134 139
135 140
136 141
137 142
138 143
139 144
140 145
141 146
142 147
143 148
144 149
145 151
146 152
147 154
148 155
149 157
150 158
151 159
152 160
153 161
154 162
155 163
156 164
157 165
158 166
159 167
160 168
161 169
162 170
163 171
164 172
165 173
166 174
167 175
168 176
169 177
170 178
171 179
172 180
173 181
174 182
175 183
176 184
177 185
178 186
179 187
180 188
181 189
182 190
183 191
184 192
185 193
186 194
187 195
188 196
189 197
190 198

In [9]:
xgbr = xgb.XGBRegressor(verbosity=0)

In [50]:
stock_0 = train_data.query('stock_id == 0')

In [51]:
X_data = stock_0.drop(columns=['target','time_id','row_id','far_price','near_price']).iloc[:-6].dropna()
y_data = stock_0['wap'].shift(-6).dropna()

In [52]:
X_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
0,0,0,0,3180602.69,1,0.999812,13380276.64,0.999812,60651.50,1.000026,8493.03,1.000000
191,0,0,10,1299772.70,1,1.000026,15261106.63,0.999812,13996.50,1.000026,23519.16,0.999892
382,0,0,20,1299772.70,1,0.999919,15261106.63,0.999812,4665.50,0.999919,12131.60,0.999842
573,0,0,30,1299772.70,1,1.000133,15261106.63,1.000026,55998.00,1.000133,46203.30,1.000085
764,0,0,40,1218204.43,1,1.000455,15342674.90,1.000241,14655.95,1.000455,26610.45,1.000317
...,...,...,...,...,...,...,...,...,...,...,...,...
5235780,0,480,440,3552782.88,-1,0.998667,38609146.09,0.998667,19359.60,0.998842,273530.85,0.998678
5235980,0,480,450,3428430.91,-1,0.998842,38733498.05,0.998842,71472.25,0.999017,108053.12,0.998912
5236180,0,480,460,2874463.16,-1,0.999368,39287465.80,0.999368,67863.18,0.999543,126004.89,0.999429
5236380,0,480,470,1634991.68,-1,0.999193,40526937.28,0.999193,126473.40,0.999368,92535.52,0.999294
5236580,0,480,480,507214.61,-1,0.999193,41654714.36,0.999193,107958.15,0.999368,36182.30,0.999324

In [53]:
y_data

0          1.000517
191        1.000421
382        1.000148
573        1.000426
764        1.000261
             ...
5235780    0.999065
5235980    0.998941
5236180    0.999289
5236380    0.999291
5236580    0.999242
Name: wap, Length: 26449, dtype: float64

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2,
                                                    shuffle=True, random_state=RANDOM_SEED)

In [230]:
stock_0.stock_id.iloc[1]

0

In [245]:
dict = {i:[j] for i, j in zip(range(0,200), range(0,200))}
dict

{0: [0],
 1: [1],
 2: [2],
 3: [3],
 4: [4],
 5: [5],
 6: [6],
 7: [7],
 8: [8],
 9: [9],
 10: [10],
 11: [11],
 12: [12],
 13: [13],
 14: [14],
 15: [15],
 16: [16],
 17: [17],
 18: [18],
 19: [19],
 20: [20],
 21: [21],
 22: [22],
 23: [23],
 24: [24],
 25: [25],
 26: [26],
 27: [27],
 28: [28],
 29: [29],
 30: [30],
 31: [31],
 32: [32],
 33: [33],
 34: [34],
 35: [35],
 36: [36],
 37: [37],
 38: [38],
 39: [39],
 40: [40],
 41: [41],
 42: [42],
 43: [43],
 44: [44],
 45: [45],
 46: [46],
 47: [47],
 48: [48],
 49: [49],
 50: [50],
 51: [51],
 52: [52],
 53: [53],
 54: [54],
 55: [55],
 56: [56],
 57: [57],
 58: [58],
 59: [59],
 60: [60],
 61: [61],
 62: [62],
 63: [63],
 64: [64],
 65: [65],
 66: [66],
 67: [67],
 68: [68],
 69: [69],
 70: [70],
 71: [71],
 72: [72],
 73: [73],
 74: [74],
 75: [75],
 76: [76],
 77: [77],
 78: [78],
 79: [79],
 80: [80],
 81: [81],
 82: [82],
 83: [83],
 84: [84],
 85: [85],
 86: [86],
 87: [87],
 88: [88],
 89: [89],
 90: [90],
 91: [91],
 92: [92],
 93: [93],
 94: [94],
 95: [95],
 96: [96],
 97: [97],
 98: [98],
 99: [99],
 100: [100],
 101: [101],
 102: [102],
 103: [103],
 104: [104],
 105: [105],
 106: [106],
 107: [107],
 108: [108],
 109: [109],
 110: [110],
 111: [111],
 112: [112],
 113: [113],
 114: [114],
 115: [115],
 116: [116],
 117: [117],
 118: [118],
 119: [119],
 120: [120],
 121: [121],
 122: [122],
 123: [123],
 124: [124],
 125: [125],
 126: [126],
 127: [127],
 128: [128],
 129: [129],
 130: [130],
 131: [131],
 132: [132],
 133: [133],
 134: [134],
 135: [135],
 136: [136],
 137: [137],
 138: [138],
 139: [139],
 140: [140],
 141: [141],
 142: [142],
 143: [143],
 144: [144],
 145: [145],
 146: [146],
 147: [147],
 148: [148],
 149: [149],
 150: [150],
 151: [151],
 152: [152],
 153: [153],
 154: [154],
 155: [155],
 156: [156],
 157: [157],
 158: [158],
 159: [159],
 160: [160],
 161: [161],
 162: [162],
 163: [163],
 164: [164],
 165: [165],
 166: [166],
 167: [167],
 168: [168],
 169: [169],
 170: [170],
 171: [171],
 172: [172],
 173: [173],
 174: [174],
 175: [175],
 176: [176],
 177: [177],
 178: [178],
 179: [179],
 180: [180],
 181: [181],
 182: [182],
 183: [183],
 184: [184],
 185: [185],
 186: [186],
 187: [187],
 188: [188],
 189: [189],
 190: [190],
 191: [191],
 192: [192],
 193: [193],
 194: [194],
 195: [195],
 196: [196],
 197: [197],
 198: [198],
 199: [199]}

In [356]:
def preprocessing(stock_data, scale = False):
    '''
    전처리
    stock_data > X_train, X_test, y_train, y_test
    '''
    
    stock_data.loc[:, 'wap_60'] = stock_data.loc[:,'wap'].shift(-6)
    stock_data = stock_data.query('seconds_in_bucket <= 480')
    stock_data = stock_data.query('date_id < 478')
    
    X_data = stock_data.drop(columns=['target','time_id','row_id','far_price','near_price', 'wap_60']).dropna()
    y_data = stock_data.loc[:,'wap_60']
    target = stock_data['target']
    
    X_train = X_data[:-250000]
    X_test = X_data[-250000:-6]
    y_train = y_data[:-250000]
    y_test = y_data[-250000:-6]
    target_test = target[-250000:-6]
    
    if scale == True:
        scaler = MinMaxScaler()
        X_train = scaler.fit_transform(X_train)
        X_test = scaler.transform(X_test)
    
    return X_train, X_test, y_train, y_test, target_test

In [359]:
X_train, X_test, y_train, y_test, target_test = preprocessing(stock_0)

In [365]:
stock_0.loc[:, 'wap_60'] = stock_0.loc[:,'wap'].shift(-6)
stock_0 = stock_0.query('seconds_in_bucket <= 480')
stock_0 = stock_0.query('date_id < 478')

X_data = stock_0.drop(columns=['target','time_id','row_id','far_price','near_price', 'wap_60']).dropna()
y_data = stock_0.loc[:,'wap_60']
target = stock_0['target']
'''
X_train = X_data[:-250000]
X_test = X_data[-250000:-6]
y_train = y_data[:-250000]
y_test = y_data[-250000:-6]
target_test = target[-250000:-6]
'''

'\nX_train = X_data[:-250000]\nX_test = X_data[-250000:-6]\ny_train = y_data[:-250000]\ny_test = y_data[-250000:-6]\ntarget_test = target[-250000:-6]\n'

In [366]:
X_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,index,index_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,0.999812,60651.50,1.000026,8493.03,1.000000,1.000000,1.000815
191,0,0,10,1299772.70,1,1.000026,15261106.63,0.999812,13996.50,1.000026,23519.16,0.999892,1.000356,1.000843
382,0,0,20,1299772.70,1,0.999919,15261106.63,0.999812,4665.50,0.999919,12131.60,0.999842,1.000525,1.000409
573,0,0,30,1299772.70,1,1.000133,15261106.63,1.000026,55998.00,1.000133,46203.30,1.000085,1.000547,1.000345
764,0,0,40,1218204.43,1,1.000455,15342674.90,1.000241,14655.95,1.000455,26610.45,1.000317,1.000635,1.000264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5202780,0,477,440,11611537.66,-1,0.998383,27129441.47,0.998383,59913.00,0.998558,57298.28,0.998473,0.999991,1.000189
5202980,0,477,450,10670180.57,-1,0.998033,28070798.56,0.998033,31942.40,0.998208,82950.70,0.998082,0.999959,1.000172
5203180,0,477,460,8252920.05,-1,0.998208,30488059.08,0.998208,107254.00,0.998383,37773.72,0.998338,1.000098,1.000334
5203380,0,477,470,6180117.01,-1,0.998383,32560862.12,0.998383,11240.82,0.998558,89200.41,0.998403,1.000096,1.000375
5203580,0,477,480,4100398.53,-1,0.998908,34640580.60,0.998908,17127.00,0.999083,48934.70,0.998954,1.000061,1.000488

In [360]:
X_train

Empty DataFrame
Columns: [stock_id, date_id, seconds_in_bucket, imbalance_size, imbalance_buy_sell_flag, reference_price, matched_size, bid_price, bid_size, ask_price, ask_size, wap, index, index_60]
Index: []

In [355]:
dict.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199])

In [ ]:
d

In [269]:
pred

array([1.0005482, 1.0005482, 1.0000559, ..., 1.0005022, 1.0005482,
       1.0005022], dtype=float32)

In [270]:
X_test['pred'] = pred

In [271]:
X_test

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,pred
3080794,0,284,460,152950.59,-1,1.001360,18324882.86,1.001360,25014.45,1.001474,15010.38,1.001432,1.000548
1068063,0,100,40,6745155.65,-1,1.000064,11639894.53,1.000064,13466.31,1.000382,49360.80,1.000132,1.000548
1887331,0,175,380,0.00,0,1.001144,20795581.93,1.001023,495.96,1.001265,49608.00,1.001025,1.000056
1045408,0,97,540,1792382.29,-1,1.000804,22321590.92,1.000695,49232.16,1.001022,881791.65,1.000712,1.000548
185252,0,17,310,0.00,0,0.999424,14549861.18,0.999424,37488.32,0.999527,25350.93,0.999486,1.000056
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5217180,0,479,60,5438165.34,1,1.000607,28424985.15,1.000433,148107.96,1.000607,183872.25,1.000511,1.000502
4978180,0,457,210,5646492.84,1,0.998649,12268654.12,0.998476,19302.70,0.998649,29276.04,0.998545,1.000502
725860,0,68,210,6569616.50,1,1.001752,15756424.14,1.001098,13127.40,1.001752,36835.86,1.001270,1.000502
3025870,0,279,450,1534730.83,-1,0.998371,31716241.08,0.998585,18700.00,0.998798,37408.00,0.998656,1.000548
3297035,0,304,300,2764869.61,1,0.999516,38679875.73,0.999404,80729.00,0.999739,37154.95,0.999634,1.000502

In [273]:
a = train_data.groupby(['date_id','seconds_in_bucket'])['wap'].mean()

In [275]:
a[(0,0)]

1.0

In [377]:
train_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,1.0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1.0
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,1.0
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3,1.0
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203775,195,477,480,2723875.60,-1,1.001376,35119980.33,1.001253,1.001253,1.001376,437058.72,1.001499,164446.82,1.001466,5.340576,26283,477_480_195,NaN
5203776,196,477,480,933835.70,-1,0.997906,9116484.89,0.996391,0.996644,0.997906,15812.00,0.998158,21470.22,0.998013,3.639460,26283,477_480_196,NaN
5203777,197,477,480,665677.91,1,0.997049,10208001.97,0.998388,0.997910,0.996762,8021.86,0.997049,35118.77,0.996815,1.640320,26283,477_480_197,NaN
5203778,198,477,480,4326481.62,-1,0.999471,64855925.39,0.998270,0.998751,0.999471,382562.34,0.999712,560413.30,0.999569,-1.990199,26283,477_480_198,NaN
5203779,199,477,480,0.00,0,0.996063,23262971.62,0.996063,0.996063,0.996063,104954.46,0.996384,35524.44,0.996303,1.519918,26283,477_480_199,NaN

In [6]:
def preprocessing(stock_data, scale = False):
    '''
    전처리
    stock_data > X_train, X_test, y_train, y_test
    '''
    
    stock_data.loc[:, 'wap_60'] = stock_data['wap'].shift(-6)
    stock_data = stock_data.query('seconds_in_bucket <= 480')
    stock_data = stock_data.query('date_id < 478')
    
    X_data = stock_data.drop(columns=['target','time_id','row_id','far_price','near_price', 'wap_60']).dropna()
    y_data = stock_data.loc[:,'wap_60']
    target = stock_data['target']
    
    X_train = X_data[:-2000]
    X_test = X_data[-2000:]
    y_train = y_data[:-2000]
    y_test = y_data[-2000:]
    target_test = target[-2000:]
    
    if scale == True:
        scaler = MinMaxScaler()
        X_train = scaler.fit_transform(X_train)
        X_test = scaler.transform(X_test)
    
    return X_train, X_test, y_train, y_test, target_test

In [ ]:
stock_data.loc[:, 'wap_60'] = stock_data['wap'].shift(-6)
    stock_data = stock_data.query('seconds_in_bucket <= 480')
    stock_data = stock_data.query('date_id < 478')
    
    X_data = stock_data.drop(columns=['target','time_id','row_id','far_price','near_price', 'wap_60']).dropna()
    y_data = stock_data.loc[:,'wap_60']
    target = stock_data['target']
    
    X_train = X_data[:-2000]
    X_test = X_data[-2000:]
    y_train = y_data[:-2000]
    y_test = y_data[-2000:]
    target_test = target[-2000:]

In [38]:
def calculate_target(data, pred):
    data['wap_60'] = pred
    wap = data.wap
    index = data.groupby(['date_id','seconds_in_bucket'])['wap'].mean().values
    index_60 = data.groupby(['date_id','seconds_in_bucket'])['wap_60'].mean().values
    print(index)
    
    index = index_expansion(index)
    index_60 = index_expansion(index_60)

    data.loc[:,'index'] = index
    data.loc[:,'index_60'] = index_60
    
    pred_target = (data.wap_60/wap - data.index_60/data.index)*10000
    
    return pred_target

In [39]:
def index_expansion(index):
    l = []
    for i in index:
        for j in range(0,200):
            l.append(i)
    
    return i

In [41]:
calculate_target(test_data.query('stock_id==166'),0)

[1.       1.000027 1.000347 1.0003   1.000309 1.000328 1.000345 1.000889
 1.001224 1.001212 1.001199 1.001215 1.001221 1.001216 1.001205 1.00119
 1.000919 1.001193 1.001449 1.001458 1.001176 1.001218 1.00121  1.001473
 1.001146 1.000909 1.000858 1.000862 1.000892 1.001069 1.000892 1.000899
 1.000917 1.000879 1.000886 1.000872 1.000875 1.000919 1.001014 1.000913
 1.000856 1.000861 1.00087  1.000879 1.000881 1.000881 1.000911 1.000962
 1.000993 1.001222 1.001266 1.001277 1.001536 1.001544 1.00153  1.
 1.000513 1.000585 1.000574 1.000561 1.000554 1.000559 1.000221 1.000224
 1.000211 1.00022  1.000227 1.000213 0.999905 0.999928 0.999937 0.999937
 0.999935 0.999655 0.999693 0.999732 0.999736 0.999761 0.999748 0.999749
 0.999657 0.999636 0.999582 0.999455 0.999741 1.000068 0.999941 0.999925
 0.999918 1.000021 0.99991  0.999948 1.000355 1.000242 1.000229 1.000254
 1.000256 1.000232 1.000175 1.00019  1.000184 1.000191 1.000224 1.000248
 1.000333 1.000314 1.000278 1.000261 1.000249 1.000228 1.       1.000352
 1.000324 1.000317 1.00031  1.000327 1.000322 1.000651 1.000616 1.000601
 1.000618 1.000602 1.000541 1.000608 1.000954 1.000901 1.000925 1.000908
 1.000903 1.000915 1.001124 1.001143 1.001142 1.001138 1.001132 1.001131
 1.000832 1.000629 1.000878 1.001251 1.000756 1.000823 1.000849 1.000865
 1.00086  1.000862 1.00092  1.000893 1.000873 1.000895 1.000873 1.000874
 1.000851 1.000844 1.000839 1.000841 1.000848 1.000835 1.000809 1.000252
 1.000255 1.000285 1.000283 1.000298 1.000266]

C:\Users\John\AppData\Local\Temp\ipykernel_12280\417493680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wap_60'] = pred

166      0.0
366      0.0
566      0.0
766      0.0
966      0.0
        ...
32166    0.0
32366    0.0
32566    0.0
32766    0.0
32966    0.0
Length: 165, dtype: float64

In [42]:
def generate_clustered_stock_data(train_data, cluster_results = {i:[j] for i, j in zip(range(0,200), range(0,200))}):
    '''
    Cluster 결과에 따라 train_data 나눠주는 함수
    train_data > clustered_stock_data
    '''
    clustered_stock_data={}
    for key in list(cluster_results.keys()):
        stock_id_list = cluster_results[key]
        stock_data = train_data.query(f'stock_id == {stock_id_list}')
        clustered_stock_data[tuple(stock_id_list)] = stock_data
        
    return clustered_stock_data

In [44]:
generate_clustered_stock_data(test_data)[(0,)]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id,wap_60,index,index_60
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0,0,0.999098,0.0
200,0,478,10,3771174.79,-1,1.000050,11550982.93,NaN,NaN,1.000050,17208.00,1.000224,21456.38,1.000127,26291,478_10_0,0,0.999098,0.0
400,0,478,20,3771174.79,-1,1.000050,11550982.93,NaN,NaN,1.000050,917.76,1.000224,41535.88,1.000054,26292,478_20_0,0,0.999098,0.0
600,0,478,30,4080903.36,-1,1.000224,11539511.50,NaN,NaN,1.000224,30176.62,1.000399,15033.56,1.000341,26293,478_30_0,0,0.999098,0.0
800,0,478,40,4045858.14,-1,1.000224,11574556.71,NaN,NaN,1.000224,20136.87,1.000399,25706.24,1.000301,26294,478_40_0,0,0.999098,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999017,53827.20,0.999193,146071.08,0.999065,26450,480_500_0,0,0.999098,0.0
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.998842,157865.40,0.999017,120926.08,0.998941,26451,480_510_0,0,0.999098,0.0
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,57596.67,0.999368,46780.58,0.999289,26452,480_520_0,0,0.999098,0.0
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,156610.53,0.999368,122677.94,0.999291,26453,480_530_0,0,0.999098,0.0
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,110123.01,0.999368,283817.38,0.999242,26454,480_540_0,0,0.999098,0.0

In [16]:
stock_19 = train_data.query('stock_id == 19')

In [25]:
stock_19 = train_data.query('stock_id == 19')

stock_19.loc[:, 'wap_60'] = stock_19['wap'].shift(-6)
stock_19 = stock_19.query('seconds_in_bucket <= 480')
stock_19 = stock_19.query('date_id < 478')
stock_19 = stock_19.drop(columns=['time_id','row_id','far_price','near_price']).dropna()

X_data = stock_19.drop(columns=['target', 'wap_60']).dropna()
y_data = stock_19.loc[:,'wap_60']
target = stock_19['target']

X_train = X_data[:-2000]
X_test = X_data[-2000:]
y_train = y_data[:-2000]
y_test = y_data[-2000:]
target_test = target[-2000:]

19         1.001251
210        1.001732
401        1.002736
592        1.003013
783        1.002372
             ...
4743799    1.000706
4743999    1.000706
4744199    1.000706
4744399    1.000685
4744599    1.000692
Name: wap_60, Length: 21373, dtype: float64

C:\Users\John\AppData\Local\Temp\ipykernel_12280\2506993479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_19.loc[:, 'wap_60'] = stock_19['wap'].shift(-6)

In [8]:
X_train, X_test, y_train, y_test, target_test = preprocessing(stock_19)

In [14]:
stock_19.query('seconds_in_bucket <= 480')

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
19,19,0,0,0.0,0,0.999387,2815450.75,NaN,NaN,0.999218,17775.00,1.001298,29567.92,1.000000,4.299879,0,0_0_19,1.001251
210,19,0,10,0.0,0,1.000511,2815450.75,NaN,NaN,0.999330,37509.47,1.001748,3742.20,1.001529,-2.880096,1,0_10_19,1.001732
401,19,0,20,0.0,0,0.999780,2815450.75,NaN,NaN,0.999443,35558.00,1.001748,3742.20,1.001529,13.220310,2,0_20_19,1.002736
592,19,0,30,0.0,0,0.999780,2815450.75,NaN,NaN,0.999443,35558.00,1.001748,5524.20,1.001438,17.750263,3,0_30_19,1.003013
783,19,0,40,0.0,0,0.999836,2815450.75,NaN,NaN,0.999555,35739.81,1.001748,1782.00,1.001644,10.989904,4,0_40_19,1.002372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5235799,19,480,440,0.0,0,0.997912,7132821.07,0.997912,0.997912,0.997134,192.32,0.998119,306668.43,0.997135,-1.220107,26444,480_440_19,0.996955
5235999,19,480,450,0.0,0,0.997549,7132821.07,0.997549,0.997549,0.997082,2307.72,0.997652,240909.84,0.997088,-2.049804,26445,480_450_19,0.996973
5236199,19,480,460,0.0,0,0.997549,7132821.07,0.997549,0.997549,0.997082,1730.79,0.997652,224169.30,0.997087,-0.849962,26446,480_460_19,0.996927
5236399,19,480,470,0.0,0,0.997549,7132821.07,0.997549,0.997549,0.997082,8077.02,0.997652,199731.96,0.997104,-6.589889,26447,480_470_19,0.996430
5236599,19,480,480,0.0,0,0.997601,7249894.84,0.997601,0.997601,0.996823,49026.30,0.997652,26746.38,0.997360,2.239943,26448,480_480_19,0.997471

In [9]:
X_train

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
19,19,0,0,0.00,0,0.999387,2815450.75,0.999218,17775.00,1.001298,29567.92,1.000000
210,19,0,10,0.00,0,1.000511,2815450.75,0.999330,37509.47,1.001748,3742.20,1.001529
401,19,0,20,0.00,0,0.999780,2815450.75,0.999443,35558.00,1.001748,3742.20,1.001529
592,19,0,30,0.00,0,0.999780,2815450.75,0.999443,35558.00,1.001748,5524.20,1.001438
783,19,0,40,0.00,0,0.999836,2815450.75,0.999555,35739.81,1.001748,1782.00,1.001644
...,...,...,...,...,...,...,...,...,...,...,...,...
4743799,19,436,40,94369.67,1,1.002746,5619555.21,1.000728,1984.00,1.002948,40961.04,1.000831
4743999,19,436,50,94369.67,1,1.002191,5619555.21,1.000779,3372.97,1.002393,62401.22,1.000862
4744199,19,436,60,87232.47,1,1.002242,5626692.41,1.000779,3372.97,1.002393,42528.22,1.000898
4744399,19,436,70,196471.31,1,1.002292,5626692.41,1.000829,5754.18,1.002292,26627.14,1.001089
4744599,19,436,80,196471.31,1,1.001535,5626692.41,1.000678,1388.73,1.001535,1787.04,1.001053

In [11]:
y_train

19         1.001251
210        1.001732
401        1.002736
592        1.003013
783        1.002372
             ...
4754799    1.000862
4754999    1.000714
4755199    1.000686
4755399    1.001780
4755599    1.001719
Name: wap_60, Length: 21422, dtype: float64

In [404]:
stock_0

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,1.000517
191,0,0,10,1299772.70,1,1.000026,15261106.63,NaN,NaN,0.999812,13996.50,1.000026,23519.16,0.999892,0.389814,1,0_10_0,1.000421
382,0,0,20,1299772.70,1,0.999919,15261106.63,NaN,NaN,0.999812,4665.50,0.999919,12131.60,0.999842,4.220009,2,0_20_0,1.000148
573,0,0,30,1299772.70,1,1.000133,15261106.63,NaN,NaN,1.000026,55998.00,1.000133,46203.30,1.000085,5.450249,3,0_30_0,1.000426
764,0,0,40,1218204.43,1,1.000455,15342674.90,NaN,NaN,1.000241,14655.95,1.000455,26610.45,1.000317,3.169775,4,0_40_0,1.000261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236980,0,480,500,0.00,0,0.999017,42161928.97,0.999017,0.999017,0.999017,53827.20,0.999193,146071.08,0.999065,3.999472,26450,480_500_0,NaN
5237180,0,480,510,0.00,0,0.998842,42161928.97,0.998842,0.998842,0.998842,157865.40,0.999017,120926.08,0.998941,3.190041,26451,480_510_0,NaN
5237380,0,480,520,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,57596.67,0.999368,46780.58,0.999289,-0.169873,26452,480_520_0,NaN
5237580,0,480,530,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,156610.53,0.999368,122677.94,0.999291,3.110170,26453,480_530_0,NaN
5237780,0,480,540,475513.69,-1,0.999193,41686415.27,0.999017,0.999017,0.999193,110123.01,0.999368,283817.38,0.999242,0.760555,26454,480_540_0,NaN

In [409]:
preprocessing(stock_0)[0]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
0,0,0,0,3180602.69,1,0.999812,13380276.64,0.999812,60651.50,1.000026,8493.03,1.000000
191,0,0,10,1299772.70,1,1.000026,15261106.63,0.999812,13996.50,1.000026,23519.16,0.999892
382,0,0,20,1299772.70,1,0.999919,15261106.63,0.999812,4665.50,0.999919,12131.60,0.999842
573,0,0,30,1299772.70,1,1.000133,15261106.63,1.000026,55998.00,1.000133,46203.30,1.000085
764,0,0,40,1218204.43,1,1.000455,15342674.90,1.000241,14655.95,1.000455,26610.45,1.000317
...,...,...,...,...,...,...,...,...,...,...,...,...
4754780,0,437,40,1260396.76,1,1.000286,13075543.43,1.000110,62535.00,1.000286,17910.90,1.000246
4754980,0,437,50,1259942.01,1,1.000286,13075998.18,1.000110,57873.30,1.000286,18422.64,1.000243
4755180,0,437,60,1259942.01,1,1.000286,13075998.18,1.000110,58953.45,1.000286,20185.30,1.000241
4755380,0,437,70,1259942.01,1,1.000022,13075998.18,0.999934,909.44,1.000110,49800.60,0.999937
4755580,0,437,80,1319571.11,1,1.000110,13075998.18,0.999934,9435.44,1.000110,44627.25,0.999965

In [391]:
train_data.loc[:, 'wap_60'] = train_data.loc[:,'wap'].shift(-6)
print(train_data)
train_data_copy = train_data.query('seconds_in_bucket <= 480')
train_data_copy = train_data_copy.query('date_id < 478')

X_data = train_data_copy.drop(columns=['target','time_id','row_id','far_price','near_price', 'wap_60']).dropna()
y_data = train_data_copy.loc[:,'wap_60']
#print(y_data.tail(10))
target = train_data_copy['target']


X_train = X_data[:-2000]
X_test = X_data[-2000:]
y_train = y_data[:-2000]
y_test = y_data[-2000:]
target_test = target[-2000:]

         stock_id  date_id  seconds_in_bucket  imbalance_size  \
0               0        0                  0      3180602.69
1               1        0                  0       166603.91
2               2        0                  0       302879.87
3               3        0                  0     11917682.27
4               4        0                  0       447549.96
...           ...      ...                ...             ...
5237975       195      480                540      2440722.89
5237976       196      480                540       349510.47
5237977       197      480                540            0.00
5237978       198      480                540      1000898.84
5237979       199      480                540      1884285.71

         imbalance_buy_sell_flag  reference_price  matched_size  far_price  \
0                              1         0.999812   13380276.64        NaN
1                             -1         0.999896    1642214.25        NaN
2                             -1         0.999561    1819368.03        NaN
3                             -1         1.000171   18389745.62        NaN
4                             -1         0.999532   17860614.95        NaN
...                          ...              ...           ...        ...
5237975                       -1         1.000317   28280361.74   0.999734
5237976                       -1         1.000643    9187699.11   1.000129
5237977                        0         0.995789   12725436.10   0.995789
5237978                        1         0.999210   94773271.05   0.999210
5237979                       -1         1.002129   24073677.32   1.000859

         near_price  bid_price   bid_size  ask_price   ask_size       wap  \
0               NaN   0.999812   60651.50   1.000026    8493.03  1.000000
1               NaN   0.999896    3233.04   1.000660   20605.09  1.000000
2               NaN   0.999403   37956.00   1.000298   18995.00  1.000000
3               NaN   0.999999    2324.90   1.000214  479032.40  1.000000
4               NaN   0.999394   16485.54   1.000016     434.10  1.000000
...             ...        ...        ...        ...        ...       ...
5237975    0.999734   1.000317   32257.04   1.000434  319862.40  1.000328
5237976    1.000386   1.000643  205108.40   1.000900   93393.07  1.000819
5237977    0.995789   0.995789   16790.66   0.995883  180038.32  0.995797
5237978    0.999210   0.998970  125631.72   0.999210  669893.00  0.999008
5237979    1.001494   1.002129  250081.44   1.002447  300167.56  1.002274

           target  time_id       row_id  wap_60
0       -3.029704        0        0_0_0     1.0
1       -5.519986        0        0_0_1     1.0
2       -8.389950        0        0_0_2     1.0
3       -4.010200        0        0_0_3     1.0
4       -7.349849        0        0_0_4     1.0
...           ...      ...          ...     ...
5237975  2.310276    26454  480_540_195     NaN
5237976 -8.220077    26454  480_540_196     NaN
5237977  1.169443    26454  480_540_197     NaN
5237978 -1.540184    26454  480_540_198     NaN
5237979 -6.530285    26454  480_540_199     NaN

[5237980 rows x 18 columns]

In [392]:
X_test

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
5201780,0,477,390,11760533.95,-1,0.998383,26980445.18,0.998383,38800.80,0.998558,65345.15,0.998449
5201781,1,477,390,0.00,0,0.996861,9626820.28,0.996861,21205.30,0.997209,49229.52,0.996966
5201782,2,477,390,0.00,0,1.000309,9823456.82,1.000206,388.62,1.000824,44718.90,1.000211
5201783,3,477,390,14165404.36,-1,0.999444,53401061.18,0.999444,26674.56,0.999592,24859.53,0.999520
5201784,4,477,390,277714.58,-1,1.001202,23184825.01,1.001202,1774.40,1.001259,90676.95,1.001203
...,...,...,...,...,...,...,...,...,...,...,...,...
5203775,195,477,480,2723875.60,-1,1.001376,35119980.33,1.001376,437058.72,1.001499,164446.82,1.001466
5203776,196,477,480,933835.70,-1,0.997906,9116484.89,0.997906,15812.00,0.998158,21470.22,0.998013
5203777,197,477,480,665677.91,1,0.997049,10208001.97,0.996762,8021.86,0.997049,35118.77,0.996815
5203778,198,477,480,4326481.62,-1,0.999471,64855925.39,0.999471,382562.34,0.999712,560413.30,0.999569
5203779,199,477,480,0.00,0,0.996063,23262971.62,0.996063,104954.46,0.996384,35524.44,0.996303

In [394]:
y_test

5201780    1.002895
5201781    0.999897
5201782    0.999068
5201783    1.000569
5201784    1.000048
             ...
5203775    0.997077
5203776    1.000357
5203777    0.999953
5203778    1.001088
5203779    1.000048
Name: wap_60, Length: 2000, dtype: float64

In [395]:
target_test

5201780   -2.589822
5201781    0.129938
5201782   -1.270175
5201783    4.370213
5201784   -2.239943
             ...
5203775    5.340576
5203776    3.639460
5203777    1.640320
5203778   -1.990199
5203779    1.519918
Name: target, Length: 2000, dtype: float64

In [374]:
y_test

5201780    1.002895
5201781    0.999897
5201782    0.999068
5201783    1.000569
5201784    1.000048
             ...
5203775         NaN
5203776         NaN
5203777         NaN
5203778         NaN
5203779         NaN
Name: wap_60, Length: 2000, dtype: float64

In [344]:
y_test.tail(10)

5203764    1.002002
5203765    1.000268
5203766    1.001763
5203767    1.000193
5203768    1.002477
5203769    1.001466
5203770    0.998013
5203771    0.996815
5203772    0.999569
5203773    0.996303
Name: wap_60, dtype: float64

In [345]:
target_test

4923780    -1.469850
4923781     4.899502
4923782    24.009943
4923783    -9.440184
4923784    12.589693
             ...
5203769    -7.140040
5203770     3.119707
5203771     2.230406
5203772    -1.180172
5203773     0.629425
Name: target, Length: 249994, dtype: float64

In [320]:
X_train

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
0,0,0,0,3180602.69,1,0.999812,13380276.64,0.999812,60651.50,1.000026,8493.03,1.000000
1,1,0,0,166603.91,-1,0.999896,1642214.25,0.999896,3233.04,1.000660,20605.09,1.000000
2,2,0,0,302879.87,-1,0.999561,1819368.03,0.999403,37956.00,1.000298,18995.00,1.000000
3,3,0,0,11917682.27,-1,1.000171,18389745.62,0.999999,2324.90,1.000214,479032.40,1.000000
4,4,0,0,447549.96,-1,0.999532,17860614.95,0.999394,16485.54,1.000016,434.10,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
4923775,195,452,230,4092963.58,-1,0.999582,9307997.55,0.999582,19096.61,0.999698,8642.00,0.999662
4923776,196,452,230,402111.23,1,1.001014,2422303.24,1.000760,14996.16,1.001014,23622.00,1.000858
4923777,197,452,230,464667.26,-1,0.999367,3140167.27,0.999367,11891.88,0.999672,18482.28,0.999486
4923778,198,452,230,8652561.23,1,0.999940,29660130.93,0.999697,153923.20,0.999940,195582.66,0.999804
4923779,199,452,230,0.00,0,1.000584,9586838.05,1.000231,35444.12,1.000584,28404.96,1.000427

In [323]:
X_test#['stock_id'].value_counts().sort_values().unique()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap
4923780,0,452,240,0.00,0,1.000106,16778417.65,0.999937,47734.05,1.000106,98146.44,0.999993
4923781,1,452,240,37206.95,1,0.988747,2220494.11,0.987968,9545.23,0.989622,71403.93,0.988164
4923782,2,452,240,15433141.97,-1,1.001493,7245097.24,1.001294,1410.71,1.001841,5041.00,1.001414
4923783,3,452,240,0.00,0,1.000656,30444179.24,1.000453,19719.00,1.000707,147141.04,1.000483
4923784,4,452,240,2783404.69,-1,0.996637,15775307.60,0.996637,1916.86,0.996866,1220.10,0.996777
...,...,...,...,...,...,...,...,...,...,...,...,...
5203775,195,477,480,2723875.60,-1,1.001376,35119980.33,1.001376,437058.72,1.001499,164446.82,1.001466
5203776,196,477,480,933835.70,-1,0.997906,9116484.89,0.997906,15812.00,0.998158,21470.22,0.998013
5203777,197,477,480,665677.91,1,0.997049,10208001.97,0.996762,8021.86,0.997049,35118.77,0.996815
5203778,198,477,480,4326481.62,-1,0.999471,64855925.39,0.999471,382562.34,0.999712,560413.30,0.999569
5203779,199,477,480,0.00,0,0.996063,23262971.62,0.996063,104954.46,0.996384,35524.44,0.996303

In [331]:
l = []
for i in X_test.groupby(['date_id','seconds_in_bucket'])['wap'].mean().values:
    for j in range(0,200):
        l.append(i)
        
len(l)

250000

In [335]:
l

[1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 1.000055415,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999913599999999,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999404850000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.9999388100000001,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 0.999963225,
 ...]

In [333]:
X_test.loc[:,'index'] = l

In [336]:
X_test.tail(200)

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,index
5203580,0,477,480,4100398.53,-1,0.998908,34640580.60,0.998908,17127.00,0.999083,48934.70,0.998954,1.000043
5203581,1,477,480,260884.00,-1,0.996861,10112867.24,0.996811,102220.44,0.997110,7003.50,0.997091,1.000043
5203582,2,477,480,594660.47,1,0.999846,10447646.33,0.999588,70879.35,0.999897,135198.00,0.999694,1.000043
5203583,3,477,480,15019061.09,-1,1.000037,52577126.74,0.999988,21836.52,1.000087,5055.25,1.000068,1.000043
5203584,4,477,480,353390.47,-1,1.001202,23672376.25,1.001202,58022.88,1.001315,7985.70,1.001302,1.000043
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203775,195,477,480,2723875.60,-1,1.001376,35119980.33,1.001376,437058.72,1.001499,164446.82,1.001466,1.000043
5203776,196,477,480,933835.70,-1,0.997906,9116484.89,0.997906,15812.00,0.998158,21470.22,0.998013,1.000043
5203777,197,477,480,665677.91,1,0.997049,10208001.97,0.996762,8021.86,0.997049,35118.77,0.996815,1.000043
5203778,198,477,480,4326481.62,-1,0.999471,64855925.39,0.999471,382562.34,0.999712,560413.30,0.999569,1.000043
5203779,199,477,480,0.00,0,0.996063,23262971.62,0.996063,104954.46,0.996384,35524.44,0.996303,1.000043

In [284]:
train_data[:-2000]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0,1.000000
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1.000000
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,1.000000
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3,1.000000
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5201775,195,477,380,1873417.13,-1,1.000516,35307859.07,0.986014,0.995477,1.000516,123417.56,1.000639,54225.72,1.000601,7.480383,26273,477_380_195,0.996966
5201776,196,477,380,2897806.19,-1,0.998663,7152514.40,0.909046,0.950447,0.998663,44742.36,0.998916,77003.22,0.998756,-0.669956,26273,477_380_196,1.000211
5201777,197,477,380,617599.43,1,0.998675,10060840.01,1.000015,1.000015,0.998484,11583.96,0.998771,85182.24,0.998519,-12.509823,26273,477_380_197,0.999520
5201778,198,477,380,7592179.66,-1,0.999231,61328403.64,0.990584,0.992986,0.999231,101670.40,0.999471,598185.36,0.999266,3.759861,26273,477_380_198,1.001203
5201779,199,477,380,5003482.21,-1,0.996063,18259489.41,0.949898,0.968172,0.996063,62668.19,0.996384,62222.16,0.996224,0.900030,26273,477_380_199,0.999867

In [283]:
train_data[-2000:]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
5201780,0,477,390,11760533.95,-1,0.998383,26980445.18,0.949567,0.950091,0.998383,38800.80,0.998558,65345.15,0.998449,-2.589822,26274,477_390_0,1.002895
5201781,1,477,390,0.00,0,0.996861,9626820.28,0.996861,0.996861,0.996861,21205.30,0.997209,49229.52,0.996966,0.129938,26274,477_390_1,0.999897
5201782,2,477,390,0.00,0,1.000309,9823456.82,1.000309,1.000309,1.000206,388.62,1.000824,44718.90,1.000211,-1.270175,26274,477_390_2,0.999068
5201783,3,477,390,14165404.36,-1,0.999444,53401061.18,0.979759,0.983716,0.999444,26674.56,0.999592,24859.53,0.999520,4.370213,26274,477_390_3,1.000569
5201784,4,477,390,277714.58,-1,1.001202,23184825.01,1.000977,1.001089,1.001202,1774.40,1.001259,90676.95,1.001203,-2.239943,26274,477_390_4,1.000048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203775,195,477,480,2723875.60,-1,1.001376,35119980.33,1.001253,1.001253,1.001376,437058.72,1.001499,164446.82,1.001466,5.340576,26283,477_480_195,0.997077
5203776,196,477,480,933835.70,-1,0.997906,9116484.89,0.996391,0.996644,0.997906,15812.00,0.998158,21470.22,0.998013,3.639460,26283,477_480_196,1.000357
5203777,197,477,480,665677.91,1,0.997049,10208001.97,0.998388,0.997910,0.996762,8021.86,0.997049,35118.77,0.996815,1.640320,26283,477_480_197,0.999953
5203778,198,477,480,4326481.62,-1,0.999471,64855925.39,0.998270,0.998751,0.999471,382562.34,0.999712,560413.30,0.999569,-1.990199,26283,477_480_198,1.001088
5203779,199,477,480,0.00,0,0.996063,23262971.62,0.996063,0.996063,0.996063,104954.46,0.996384,35524.44,0.996303,1.519918,26283,477_480_199,1.000048

In [272]:
train_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.000000,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.000000,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [346]:
a =train_data.query('stock_id == [1,2,10]')
b = train_data.query('stock_id == [4,5,14,15]')

In [349]:
df = pd.concat([a,b])

In [351]:
a

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1.000000
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,1.000000
10,10,0,0,10482752.19,-1,1.001374,8839457.10,NaN,NaN,0.999885,18802.00,1.001321,217098.37,1.000000,5.350113,0,0_0_10,1.000000
192,1,0,10,165923.20,-1,0.999955,1642894.96,NaN,NaN,0.999896,3743.52,1.000660,33717.42,0.999973,-1.620054,1,0_10_1,1.000803
193,2,0,10,184766.21,-1,0.999561,1937481.68,NaN,NaN,0.999403,37956.00,1.000298,379.90,1.000290,-7.460117,1,0_10_2,1.000119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203382,2,477,470,348520.38,1,0.999846,10428219.33,1.000309,1.000000,0.999588,67772.31,0.999846,2719.36,0.999836,-4.590154,26282,477_470_2,0.998541
5203390,10,477,470,6487479.77,1,1.000303,84011593.23,1.001717,1.001717,1.000101,234033.77,1.000303,33970.72,1.000278,1.180172,26282,477_470_10,0.999770
5203581,1,477,480,260884.00,-1,0.996861,10112867.24,0.996761,0.996811,0.996811,102220.44,0.997110,7003.50,0.997091,-0.249743,26283,477_480_1,0.999426
5203582,2,477,480,594660.47,1,0.999846,10447646.33,1.000669,1.000309,0.999588,70879.35,0.999897,135198.00,0.999694,0.799894,26283,477_480_2,0.998395
5203590,10,477,480,4698864.66,1,1.000505,85800208.34,1.001515,1.001313,1.000303,317621.28,1.000505,4953.00,1.000502,-2.549887,26283,477_480_10,0.999770

In [352]:
b

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
4,4,0,0,447549.96,-1,0.999532,1.786061e+07,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,1.000000
5,5,0,0,0.00,0,1.000635,1.355288e+07,NaN,NaN,0.999779,1962.72,1.000635,5647.65,1.000000,6.779432,0,0_0_5,1.000000
14,14,0,0,8899495.49,1,1.000495,3.902048e+07,NaN,NaN,0.999976,4321.24,1.001013,185388.00,1.000000,2.319813,0,0_0_14,1.000000
15,15,0,0,4469771.00,1,0.999403,1.765835e+06,NaN,NaN,0.999334,223339.68,1.000023,7551.44,1.000000,1.720190,0,0_0_15,1.000000
195,4,0,10,417742.24,-1,1.000154,1.789042e+07,NaN,NaN,1.000154,28799.28,1.000431,14476.00,1.000338,-6.719828,1,0_10_4,1.000245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203395,15,477,470,3960731.83,1,1.001481,4.354719e+07,1.002582,1.002110,1.001403,41911.31,1.001560,14015.10,1.001521,2.160072,26282,477_470_15,1.002041
5203584,4,477,480,353390.47,-1,1.001202,2.367238e+07,1.000977,1.001089,1.001202,58022.88,1.001315,7985.70,1.001302,-5.300045,26283,477_480_4,1.000502
5203585,5,477,480,157076.08,1,0.999386,8.033538e+06,1.000249,0.999674,0.999242,25279.80,0.999386,27645.08,0.999311,-0.470281,26283,477_480_5,0.999520
5203594,14,477,480,10852129.94,-1,0.999020,2.194160e+08,0.998253,0.998316,0.998916,123438.08,0.999061,17361.00,0.999044,-3.659725,26283,477_480_14,1.001430
5203595,15,477,480,4607729.81,1,1.001481,4.363840e+07,1.002582,1.002425,1.001403,86243.03,1.001560,43956.45,1.001507,1.410246,26283,477_480_15,1.002414

In [354]:
df

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
1,1,0,0,166603.91,-1,0.999896,1.642214e+06,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1.000000
2,2,0,0,302879.87,-1,0.999561,1.819368e+06,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,1.000000
10,10,0,0,10482752.19,-1,1.001374,8.839457e+06,NaN,NaN,0.999885,18802.00,1.001321,217098.37,1.000000,5.350113,0,0_0_10,1.000000
192,1,0,10,165923.20,-1,0.999955,1.642895e+06,NaN,NaN,0.999896,3743.52,1.000660,33717.42,0.999973,-1.620054,1,0_10_1,1.000803
193,2,0,10,184766.21,-1,0.999561,1.937482e+06,NaN,NaN,0.999403,37956.00,1.000298,379.90,1.000290,-7.460117,1,0_10_2,1.000119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203395,15,477,470,3960731.83,1,1.001481,4.354719e+07,1.002582,1.002110,1.001403,41911.31,1.001560,14015.10,1.001521,2.160072,26282,477_470_15,1.002041
5203584,4,477,480,353390.47,-1,1.001202,2.367238e+07,1.000977,1.001089,1.001202,58022.88,1.001315,7985.70,1.001302,-5.300045,26283,477_480_4,1.000502
5203585,5,477,480,157076.08,1,0.999386,8.033538e+06,1.000249,0.999674,0.999242,25279.80,0.999386,27645.08,0.999311,-0.470281,26283,477_480_5,0.999520
5203594,14,477,480,10852129.94,-1,0.999020,2.194160e+08,0.998253,0.998316,0.998916,123438.08,0.999061,17361.00,0.999044,-3.659725,26283,477_480_14,1.001430
5203595,15,477,480,4607729.81,1,1.001481,4.363840e+07,1.002582,1.002425,1.001403,86243.03,1.001560,43956.45,1.001507,1.410246,26283,477_480_15,1.002414

In [353]:
df.sort_index()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id,wap_60
1,1,0,0,166603.91,-1,0.999896,1.642214e+06,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.000000,-5.519986,0,0_0_1,1.000000
2,2,0,0,302879.87,-1,0.999561,1.819368e+06,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.000000,-8.389950,0,0_0_2,1.000000
4,4,0,0,447549.96,-1,0.999532,1.786061e+07,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.000000,-7.349849,0,0_0_4,1.000000
5,5,0,0,0.00,0,1.000635,1.355288e+07,NaN,NaN,0.999779,1962.72,1.000635,5647.65,1.000000,6.779432,0,0_0_5,1.000000
10,10,0,0,10482752.19,-1,1.001374,8.839457e+06,NaN,NaN,0.999885,18802.00,1.001321,217098.37,1.000000,5.350113,0,0_0_10,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203584,4,477,480,353390.47,-1,1.001202,2.367238e+07,1.000977,1.001089,1.001202,58022.88,1.001315,7985.70,1.001302,-5.300045,26283,477_480_4,1.000502
5203585,5,477,480,157076.08,1,0.999386,8.033538e+06,1.000249,0.999674,0.999242,25279.80,0.999386,27645.08,0.999311,-0.470281,26283,477_480_5,0.999520
5203590,10,477,480,4698864.66,1,1.000505,8.580021e+07,1.001515,1.001313,1.000303,317621.28,1.000505,4953.00,1.000502,-2.549887,26283,477_480_10,0.999770
5203594,14,477,480,10852129.94,-1,0.999020,2.194160e+08,0.998253,0.998316,0.998916,123438.08,0.999061,17361.00,0.999044,-3.659725,26283,477_480_14,1.001430
5203595,15,477,480,4607729.81,1,1.001481,4.363840e+07,1.002582,1.002425,1.001403,86243.03,1.001560,43956.45,1.001507,1.410246,26283,477_480_15,1.002414

In [222]:
test_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0
1,1,478,0,985977.11,-1,1.000245,3850033.97,NaN,NaN,0.999940,1967.90,1.000601,19692.00,1.000000,26290,478_0_1
2,2,478,0,599128.74,1,1.000584,4359198.25,NaN,NaN,0.999918,4488.22,1.000636,34955.12,1.000000,26290,478_0_2
3,3,478,0,2872317.54,-1,0.999802,27129551.64,NaN,NaN,0.999705,16082.04,1.000189,10314.00,1.000000,26290,478_0_3
4,4,478,0,740059.14,-1,0.999886,8880890.78,NaN,NaN,0.999720,19012.35,1.000107,7245.60,1.000000,26290,478_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199

In [55]:
scaler = MinMaxScaler()
X_train_sca = scaler.fit_transform(X_train)
X_test_sca = scaler.transform(X_test)

In [256]:
pred = xgbr.predict(X_test)

In [259]:
pred

array([1.0005482, 1.0005482, 1.0000559, ..., 1.0005022, 1.0005482,
       1.0005022], dtype=float32)

In [253]:
abs(pred - y_test).mean()

0.001384583499207523

In [255]:
pred

array([1.0005482, 1.0005482, 1.0000559, ..., 1.0005022, 1.0005482,
       1.0005022], dtype=float32)

In [56]:
xgbr.fit(X_train_sca, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [251]:
list(train_data.query('stock_id == [0,1,2]').stock_id.value_counts().sort_index().index)

[0, 1, 2]

In [57]:
pred = xgbr.predict(X_test_sca)

In [252]:
pred

array([1.0005482, 1.0005482, 1.0000559, ..., 1.0005022, 1.0005482,
       1.0005022], dtype=float32)

In [79]:
stock_0_test = test_data.query('stock_id == 0')
stock_0_test = stock_0_test.drop(columns=['time_id','row_id','far_price','near_price'])

In [75]:
stock_0_test_sca = scaler.transform(stock_0_test)

In [76]:
pred = xgbr.predict(stock_0_test_sca)

In [92]:
stock_1_test = test_data.query('stock_id == 1')
stock_1_test = stock_1_test.drop(columns=['time_id','row_id','far_price','near_price', 'wap_60'])

In [93]:
stock_1_test_sca = scaler.transform(stock_1_test)

In [94]:
pred = xgbr.predict(stock_1_test_sca)

In [96]:
stock_1_test['wap_60'] = pred

0         -2.983621
191        0.421089
382        4.217036
573        5.431528
764        3.143892
             ...
5236980         NaN
5237180         NaN
5237380         NaN
5237580         NaN
5237780         NaN
Length: 26455, dtype: float64

In [97]:
stock_1_test

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,wap_60
1,1,478,0,985977.11,-1,1.000245,3850033.97,0.999940,1967.90,1.000601,19692.00,1.000000,1.000714
201,1,478,10,967084.13,-1,0.999991,3868926.94,0.999940,1967.90,1.000346,20671.35,0.999975,1.000618
401,1,478,20,967280.94,-1,0.999889,3869910.95,0.999889,4919.50,1.000346,20671.35,0.999977,1.000271
601,1,478,30,967280.94,-1,0.999838,3869910.95,0.999788,393.52,1.000346,21655.70,0.999797,1.000113
801,1,478,40,1085362.03,-1,1.000804,3850230.77,1.000601,393.84,1.001312,24632.50,1.000612,1.001195
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32001,1,480,500,88468.41,-1,0.996648,7635810.59,0.996437,176306.44,0.996859,64345.00,0.996746,1.000353
32201,1,480,510,310778.50,-1,0.996806,7413500.50,0.996543,1324.33,0.997122,47135.70,0.996559,0.999940
32401,1,480,520,310778.50,-1,0.996806,7413500.50,0.996543,3783.80,0.997122,85374.30,0.996567,1.000010
32601,1,480,530,310778.50,-1,0.996806,7413500.50,0.996543,7567.60,0.997122,112065.60,0.996579,1.000010
32801,1,480,540,43854.51,-1,0.996543,7680424.49,0.996543,5675.70,0.997122,167909.10,0.996562,1.000034

In [78]:
stock_0_test['wap']

0        1.000000
200      1.000127
400      1.000054
600      1.000341
800      1.000301
           ...
32000    0.999065
32200    0.998941
32400    0.999289
32600    0.999291
32800    0.999242
Name: wap, Length: 165, dtype: float64

In [87]:
stock_0_test

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,wap_60
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,22940.00,1.000050,9177.60,1.000000,1.000212
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,17208.00,1.000224,21456.38,1.000127,1.000634
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,917.76,1.000224,41535.88,1.000054,1.000636
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,30176.62,1.000399,15033.56,1.000341,1.000676
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,20136.87,1.000399,25706.24,1.000301,1.000670
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,53827.20,0.999193,146071.08,0.999065,0.999283
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,157865.40,0.999017,120926.08,0.998941,0.999270
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,57596.67,0.999368,46780.58,0.999289,0.999089
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,156610.53,0.999368,122677.94,0.999291,0.999069
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,110123.01,0.999368,283817.38,0.999242,0.999592

In [105]:
stock_0_test['wap_60']

0        1.000212
200      1.000634
400      1.000636
600      1.000676
800      1.000670
           ...
32000    0.999283
32200    0.999270
32400    0.999089
32600    0.999069
32800    0.999592
Name: wap_60, Length: 165, dtype: float32

In [113]:
test_data.loc[test_data.stock_id == 0, 'wap_60'] = stock_0_test['wap_60']

In [115]:
test_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id,wap_60
0,0,478,0,3753451.43,-1,0.999875,11548975.43,NaN,NaN,0.999875,22940.00,1.000050,9177.60,1.000000,26290,478_0_0,1.000212
1,1,478,0,985977.11,-1,1.000245,3850033.97,NaN,NaN,0.999940,1967.90,1.000601,19692.00,1.000000,26290,478_0_1,1.000714
2,2,478,0,599128.74,1,1.000584,4359198.25,NaN,NaN,0.999918,4488.22,1.000636,34955.12,1.000000,26290,478_0_2,NaN
3,3,478,0,2872317.54,-1,0.999802,27129551.64,NaN,NaN,0.999705,16082.04,1.000189,10314.00,1.000000,26290,478_0_3,NaN
4,4,478,0,740059.14,-1,0.999886,8880890.78,NaN,NaN,0.999720,19012.35,1.000107,7245.60,1.000000,26290,478_0_4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195,NaN
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196,NaN
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197,NaN
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198,NaN
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199,NaN

In [82]:
stock_0_test['wap_60'] = pred

In [83]:
stock_0_test

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,bid_price,bid_size,ask_price,ask_size,wap,wap_60
0,0,478,0,3753451.43,-1,0.999875,11548975.43,0.999875,22940.00,1.000050,9177.60,1.000000,1.000212
200,0,478,10,3771174.79,-1,1.000050,11550982.93,1.000050,17208.00,1.000224,21456.38,1.000127,1.000634
400,0,478,20,3771174.79,-1,1.000050,11550982.93,1.000050,917.76,1.000224,41535.88,1.000054,1.000636
600,0,478,30,4080903.36,-1,1.000224,11539511.50,1.000224,30176.62,1.000399,15033.56,1.000341,1.000676
800,0,478,40,4045858.14,-1,1.000224,11574556.71,1.000224,20136.87,1.000399,25706.24,1.000301,1.000670
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32000,0,480,500,0.00,0,0.999017,42161928.97,0.999017,53827.20,0.999193,146071.08,0.999065,0.999283
32200,0,480,510,0.00,0,0.998842,42161928.97,0.998842,157865.40,0.999017,120926.08,0.998941,0.999270
32400,0,480,520,475513.69,-1,0.999193,41686415.27,0.999193,57596.67,0.999368,46780.58,0.999289,0.999089
32600,0,480,530,475513.69,-1,0.999193,41686415.27,0.999193,156610.53,0.999368,122677.94,0.999291,0.999069
32800,0,480,540,475513.69,-1,0.999193,41686415.27,0.999193,110123.01,0.999368,283817.38,0.999242,0.999592

In [121]:
train_data.query('date_id==480')

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
5226980,0,480,0,5372506.50,1,0.999894,18358363.51,NaN,NaN,0.999894,18186.19,1.000070,11974.20,1.000000,-1.279712,26400,480_0_0
5226981,1,480,0,0.00,0,1.000230,1463335.77,NaN,NaN,0.999966,949.20,1.000704,19947.90,1.000000,-4.460216,26400,480_0_1
5226982,2,480,0,2668166.82,-1,1.000514,3178828.19,NaN,NaN,0.999999,194.02,1.000462,63279.86,1.000000,5.899668,26400,480_0_2
5226983,3,480,0,10092140.20,1,0.999887,26401518.01,NaN,NaN,0.999839,41308.00,1.000081,20659.00,1.000000,1.430511,26400,480_0_3
5226984,4,480,0,5413385.50,1,1.000016,14120503.51,NaN,NaN,0.999358,18225.00,1.000071,2006.18,1.000000,-1.220107,26400,480_0_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237975,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,2.310276,26454,480_540_195
5237976,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,-8.220077,26454,480_540_196
5237977,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,1.169443,26454,480_540_197
5237978,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,-1.540184,26454,480_540_198
5237979,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,-6.530285,26454,480_540_199

In [123]:
test_data.query('date_id==480')

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id,row_id,wap_60
22000,0,480,0,5372506.50,1,0.999894,18358363.51,NaN,NaN,0.999894,18186.19,1.000070,11974.20,1.000000,26400,480_0_0,0.999949
22001,1,480,0,0.00,0,1.000230,1463335.77,NaN,NaN,0.999966,949.20,1.000704,19947.90,1.000000,26400,480_0_1,1.000683
22002,2,480,0,2668166.82,-1,1.000514,3178828.19,NaN,NaN,0.999999,194.02,1.000462,63279.86,1.000000,26400,480_0_2,NaN
22003,3,480,0,10092140.20,1,0.999887,26401518.01,NaN,NaN,0.999839,41308.00,1.000081,20659.00,1.000000,26400,480_0_3,NaN
22004,4,480,0,5413385.50,1,1.000016,14120503.51,NaN,NaN,0.999358,18225.00,1.000071,2006.18,1.000000,26400,480_0_4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32995,195,480,540,2440722.89,-1,1.000317,28280361.74,0.999734,0.999734,1.000317,32257.04,1.000434,319862.40,1.000328,26454,480_540_195,NaN
32996,196,480,540,349510.47,-1,1.000643,9187699.11,1.000129,1.000386,1.000643,205108.40,1.000900,93393.07,1.000819,26454,480_540_196,NaN
32997,197,480,540,0.00,0,0.995789,12725436.10,0.995789,0.995789,0.995789,16790.66,0.995883,180038.32,0.995797,26454,480_540_197,NaN
32998,198,480,540,1000898.84,1,0.999210,94773271.05,0.999210,0.999210,0.998970,125631.72,0.999210,669893.00,0.999008,26454,480_540_198,NaN
32999,199,480,540,1884285.71,-1,1.002129,24073677.32,1.000859,1.001494,1.002129,250081.44,1.002447,300167.56,1.002274,26454,480_540_199,NaN